.filters-container{
    display:flex;
    font-family: 'Lato', sans-serif;
    input{
        border:none;
        padding:24px;
        background: rgba(0,0,0,0);
        color:white;
        font-weight:700;
        &::placeholder{
            color:white;
            font-weight:700;
        }
    }
    img{
        padding-right:18px;
    }
    .drop-down{
        margin-right:20px;
        border-radius:5px;
        height:100%;
        position: relative;
        .dropbtn{
            display:flex;
            align-items: center;
            input{
                flex-grow: 1;
            }
        }
    }
    .expanded{
        flex-grow: 1;
        border-radius:5px 5px 0 0;
    }
    .dropdown-content{
        display:none;
        margin:0;
        padding-left : 19px;
        color:white;
        font-weight:400;
        position: absolute;
        width : calc(100% - 19px);
        border-radius: 0 0 5px 5px;
        li{
            padding:10px;
            width:210px;
            &:hover{
                color:lightgrey;
                cursor: pointer;
            }
        }
    }
    .show{
        display:flex;
        flex-wrap:wrap;
        align-content:space-between;
    }
}