body{
    margin: 0 100px 50px 100px;
}
html{
    font-size:16px;
}
img{
    object-fit: cover
}
ul{
    list-style: none;
    padding:0;
}
main{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#search-banner{
    margin-bottom:25px;
}

.bg-ingredient{
    background: $ingredients;
}
.bg-equipment{
    background: $equipments;
}
.bg-ustensil{
    background: $ustensils;
}